pkgbase = rtl88x2bu-dkms-git
	pkgdesc = Kernel module for Realtek rtl88x2bu WiFi chipset
	pkgver = 5.8.7.1.r111.afc917d
	pkgrel = 1
	url = https://github.com/RinCat/RTL88x2BU-Linux-Driver
	arch = i686
	arch = x86_64
	arch = armv7l
	license = GPL2
	makedepends = git
	depends = dkms
	depends = bc
	source = git+https://github.com/RinCat/RTL88x2BU-Linux-Driver.git
	source = set-arm-arch.patch
	sha256sums = SKIP
	sha256sums = 7445475f6f021806d873deafa8a95c2822df46296674a744de7a24871c8aa0c5

pkgname = rtl88x2bu-dkms-git

